!!!
html
	head
		script(src="/javascripts/jquery-1.4.2.min.js", type="application/javascript")
		script(src="/javascripts/game_logic.js", type="application/javascript")
		link(rel='stylesheet', href='/stylesheets/style.css')
		title= title
	body!= body